* {
  margin: 0;
  padding: 0;
}
/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  .container {
    float: none;
    display: flex;
    justify-items: baseline;
  }
}
.container {
  height: auto;
  min-height: 100vh; /* Pour s'assurer que le container occupe toute la vue au moins */
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/musque-overlay.jpg");

  margin: 0;
  padding: 0;
}

.header {
  overflow: hidden;
  background-color: #f9f6ee;
  padding: 20px 10px;
  height: 90px;
  display: flex;
  justify-content: space-between;
}
.header img {
  width: 70px;
  height: 70px;
  margin-left: 10px;
  border-radius: 50%;
  margin-top: 0.3rem;
}
.logo {
  display: flex;
  justify-content: baseline;
}
.logo h1 {
  padding: 0.75px;
  color: #f9744c;
}

.header a {
  float: left;
  color: rgba(8, 140, 129, 0.669);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  margin-top: 20px;
  margin-left: 12px;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: #ffa500;
}
.header a.active {
  background-color: #f28c28;
  color: white;
}

.header-right {
  float: right;
}

.video-section {
  height: 100vh;
  display: flex;
  /* flex-direction: column;
      justify-content: center;
      align-items: center;*/
  text-align: left;
  color: white;
  margin-left: 3rem;
  padding-top: 3rem;
}

.content {
  max-width: 600px;
  margin-bottom: 20px;
}

.video-section h1 {
  font-size: 3rem;
  font-weight: bold;
  padding-top: 90px;
}

.video-section p {
  font-size: 1.2rem;
  margin: 20px 0;
}

.play-button {
  display: inline-block;
  background: transparent;
  color: white;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  transition: color 0.3s, transform 0.3s;
}

.play-button span {
  font-size: 2rem;
  vertical-align: middle;
  margin-right: 10px;
}

.play-button:hover {
  color: #ffa500;
  transform: scale(1.05);
}

.video-container {
  display: none; /* Hide the video initially */
  margin-top: 20px;
}

video {
  width: 80%;
  max-width: 800px;
  height: auto;
  border-radius: 6px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin-top: 6rem;
}
.btn {
  padding: 4rem;
  width: 300px;
  font-size: large;
  padding-left: 15rem;
  flex-wrap: wrap;
}

.btn a {
  width: 150px;
  padding: 1rem;
  border: none;
  border-radius: 3px;
  background-color: #ffa500;
  text-decoration: none;
  color: #ddd;
}
.btn a:hover {
  background-color: #efd6b2;
  color: #000;
}
.des {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(245, 241, 235);
  padding-bottom: 2rem;
}

.card {
  width: 300px;
  margin-left: 20px;
  background: #efd6b2;
  border: 6px solid #000;
  box-shadow: 12px 12px 0 #000;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-top: 4rem;
  border-radius: 3px;
}

.card #kech {
  background-image: url("../images/jamaa_elfna.jpg");
}
.card #tanga {
  background-image: url("../images/tanga.jpg");
}
.card #fez {
  background-image: url("../images/babFas.jpeg");
}
.card #dakhla {
  background-image: url("../images/dakhla1.png");
}
.card #casa {
  background-image: url("../images/mosquée\ hassan\ II.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: right;
}
.card #marzoga {
  background-image: url("../images/marzouga.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.card .ville {
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 300px;
}

.card:hover {
  transform: translate(-5px, -5px);
  box-shadow: 17px 17px 0 rgb(43, 41, 41);
}

.card__title {
  font-size: 32px;
  font-weight: 900;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 15px;
  display: block;
  position: relative;
  overflow: hidden;
}

.card__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 3px;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.3s;
}

.card:hover .card__title::after {
  transform: translateX(0);
}

.card__button {
  border: 3px solid #000;
  border-radius: 3px;
  background: #000;
  opacity: 0.7;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  left: 20%;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
  width: 50%;
  margin-top: 90%;
}

.card__button::before {
  content: "Sure?";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 105%;
  background-color: #ffa500;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 0.3s;
}

.card__button:hover::before {
  transform: translateY(0);
}

.card__button:active {
  transform: scale(0.95);
}

/* @keyframes glitch {
      0% {
        transform: translate(2px, 2px);
      }
      25% {
        transform: translate(-2px, -2px);
      }
      50% {
        transform: translate(-2px, 2px);
      }
      75% {
        transform: translate(2px, -2px);
      }
      100% {
        transform: translate(2px, 2px);
      }
      }
    
    .glitch {
    animation: glitch 0.3s infinite;
    }*/
